<div class="flex flex-col w-full flex-auto min-w-0">
    <ng-container class="bg-card mt-3 w-full">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col w-full sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto w-full items-center min-w-0">
                    <!-- <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon> -->
                    <div class="flex items-center w-full h-dvh justify-center min-w-0 ml-4">
                        <!-- <ng-container> -->
                        <!-- <div class="md:text-4xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Bienvenue, {{user.vcFirstName }} {{user.vcLastName }}</div> -->
                        <div>
                            Moyens Généraux
                        </div>
                        <!-- </ng-container> -->
                    </div>
                </div>

            </div>
        </div>
    </ng-container>
</div>